

.container{
  height: 100%;
}

.navbar{
  background-color: white;
  padding-top: 20px;
}

.icon-star{
  color:rgb(255, 255, 29);
}

.img-celphone{
  padding-top: 60px;
}

.title-size{
  font-size: 50px;
}
.logotipo{
  height: 40px;
  width: 60px;
}
.img-google-play{
  width: 300px;
}